body {
	margin: 0;
	padding: 0;
}
img{
	max-width:100%;
	height:auto;
}
.wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.map {
	position: relative;
	text-align: center;
    max-width: 1200px;
}

svg {
	position: absolute;
	top: 0;
	left: -5;
	height: 100%;
	width: 100%;
}
.path {
	fill: green;
	opacity: .5;
}
.path:hover {
	transition: opacity .2s ease;
	opacity: .8;
	cursor: pointer;
}
.description {
  display: none;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    width: 300px;
    height: 90%;
    box-shadow: 0 0 32px 10px #ccc;
    top: 30px; 
    right: 30px; 
    font-family: sans-serif;
    background: #ffffff;
    z-index: 1000;
    border-radius: 8px;
	 text-align: justify; 
    text-align-last: justify; 
    line-height: 1.6; 
    word-spacing: -0.1em; 
    hyphens: auto; 
    overflow-y: auto;

}

.description img {
	width: 250px;
	margin-bottom: 20px;
}
